/* work sans from google font */
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Golos+Text&family=Lato:wght@400;700&family=Lobster&family=Lora&family=Merriweather:wght@700&family=Montserrat:wght@100&family=Noto+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@700&family=Playfair+Display&family=Poppins:wght@400;700&family=Tilt+Prism&family=Vollkorn:ital@0;1&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared syles */
  *{
    font-family: 'Work Sans', sans-serif;
    /* margin: 0; */
  }
  .text-light-gray{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    padding: 20px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  /* header style */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 0px 180px 30px 180px;
  }
  .nav-title{
    color:#131313;
    font-size: 2.2rem;
    font-weight: 700;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  nav li{
    margin-right:40px ;
    font-size: 0.9rem;
    font-weight: 500;
    list-style: none;
  }
  nav a{
    text-decoration: none;
    color:#424242;
  }

  /* banner */
  .banner-content{
    max-width: 800px;
    /* margin: 100px auto 50px auto; */
    margin: 40px auto;
    text-align: center;
  }
  .banner-title{
    color: #131313;
    font-size: 3.1rem;
    font-weight: 700;
  }
  .banner-description{
    color:#727272;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 30px 0px;
  }
  .banner img{
    width: 100%;
  }

  /* main section */
main{
    max-width: 1440px;
    margin: 80px 200px;
}
/* teams */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 50%;
}
.teams-image-container img{
    width: 100%;
}
.teams-content{
    padding-left: 70px;
    width: 50%;
}
.teams-title{
    font-size: 2.5rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.our{
    color:  #131313;
    font-weight: 700;
}
.team-title-feature{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
}

  /* responsive media queries */
  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .banner-content{
        margin: 30px 0;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    main{
        margin: 80px auto;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .teams-image-container, .teams-content{
        width: 90%;
    }
    .teams-content{
        padding-left: 0;
    }
  }

  /* tablet or mid devices */
  @media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 30px 100px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    main{
        margin: 80px auto;
    }
    .teams-image-container, .teams-content{
        width: 70%;
    }
    .teams-content{
        padding-left: 0;
    }
  }