/* work sans from google font */
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Golos+Text&family=Lato:wght@400;700&family=Lobster&family=Lora&family=Merriweather:wght@700&family=Montserrat:wght@100&family=Noto+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@700&family=Playfair+Display&family=Poppins:wght@400;700&family=Tilt+Prism&family=Vollkorn:ital@0;1&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared syles */
  *{
    font-family: 'Work Sans', sans-serif;
    /* margin: 0; */
  }
  .text-light-gray{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2rem;
    padding: 20px 24px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .section-title{
    color:#131313;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 24px 0;
  }

  /* header style */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 0px 180px 30px 180px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul{
    display: flex;
  }
  nav li{
    margin-right:40px ;
    font-size: 0.9rem;
    font-weight: 500;
    list-style: none;
  }
  nav a{
    text-decoration: none;
    color:#424242;
  }

  /* banner */
  .banner-content{
    max-width: 800px;
    /* margin: 100px auto 50px auto; */
    margin: 40px auto;
    text-align: center;
  }
  .banner-title{
    color: #131313;
    font-size: 3.1rem;
    font-weight: 700;
  }
  .banner-description{
    color:#727272;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 30px 0px;
  }
  .banner img{
    width: 100%;
  }

  /* main section */
main, footer{
    max-width: 1440px;
    margin: 80px 180px;
}
/* teams */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    width: 50%;
}
.teams-image-container img{
    width: 100%;
}
.teams-content{
    padding-left: 70px;
    width: 50%;
}
.teams-title{
    font-size: 2.5rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.our{
    color:  #131313;
    font-weight: 700;
}
.team-title-feature{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    font-size: 0.9rem;
    font-weight: 400;
}

/* feature */
.feature{
    display: flex;
    margin-top: 120px;
    gap: 100px;
}
.feature-head{
    border-left:5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}
.feature-content{
    width: 50%;
}
.feature-image{
    width: 50%;
}
.feature-image img{
    width: 100%;
    height: 90%;
    margin-left: 20px;
}
.feature-title{
    color:#131313;
    font-size: 1rem;
    font-weight: 600;
}
.feature-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    margin-bottom: 20px;
}
.ten{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    text-align: center;
    width: 250px;
    padding: 40px 0px;
    position: relative;
    bottom: 90px;
    right: 60px;
}

.ten h1{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.ten p{
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}
/* facts card container */
.facts{
    margin: 80px 0;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}
.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 40px 55px 40px;
}
.card-count{
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}
.card-title{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
}

/* our sponsors */
.sponsors{
    text-align: center;
}
.sponsors-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 50px 0 100px 0;
}
.sponsors-image img{
    width: 165px;
}
/* footer */
footer{
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    padding: 20px 0px;
}
  /* responsive media queries */
  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    .banner-content{
        margin: 30px 0;
    }
    nav, .teams-container, .sponsors-image, .feature{
        flex-direction: column;
    }
    main, footer{
        margin: 80px auto;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .teams-image-container, .teams-content {
        width: 90%;
    }
    .teams-content{
        padding-left: 0;
    }
    .facts{
        text-align: center;
    }
    .facts-card-container{
        flex-direction: column;
        padding: 0;
    }
    .card{
        margin: 20px;
    }
    .feature-content, .feature-image{
        width: 100%;
    }
    .feature-image img{
        width: 100%;
        margin: 0;
        
    }
    .ten{
        position: static;
        width: 100%;
    }

  }

  /* tablet or mid devices */
  @media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 30px 100px;
    }
    nav, .teams-container, .sponsors-image, .facts-card-container, .feature{
        flex-direction: column;
    }
    main,footer{
        margin: 80px 80px;
    }
    .teams-image-container, .teams-content{
        width: 70%;
    }
    .teams-content{
        padding-left: 0;
    }
    .card{
        margin: 20px 200px;
    }
    .feature-content, .feature-image{
        width: 100%;
    }
    .feature-image{
        margin-left: 50px;
        margin-bottom: 0;
    }
    .feature-image img{
        width: 80%;
        
    }
    /* .ten{
        position: static;
        width: 100%;
    } */
  }